data/
train_output/split_data/
eda_output/

*.pth
*.pt
*.ckpt

__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

.venv/
venv/
env/

.DS_Store
Thumbs.db
.idea/
.vscode/settings.json
*.ipynb
.ipynb_checkpoints/
*.logdata.zip
